---
title: 
---

```
git init project1

git status

git clone https://github.com/bluesky4485/snippets.git


git branch

git branch branchname1

git checkout -b pull

git add .

git commit -m 'commit message'

git push

git checkout gh-pages

git merge pull

git diff

```